---
import EditionMainContainer from "../gallery/components/EditionMainContainer.astro";
import Contest from "../contest/components/Contest.astro";
import RoboticaIcon from "../../../public/icons/contest/RoboticaIcon.astro";
import ConocimientoIcon from "../../../public/icons/contest/ConocimientoIcon.astro";
import ProgramacionIcon from "../../../public/icons/contest/ProgramacionIcon.astro";
---

<section class="space-y-24 mb-24">
  <EditionMainContainer
    title="Concursos"
    description="Conoce los concursos que se realizarán durante el evento."
    image="/logos/logo-edition-optimiced.webp"
  />
  <Contest
    title="Concurso de Robótica"
    description="Este concurso evaluará la eficiencia, creatividad, capacidad técnica y solución de desafíos mediante robots autónomos y/o teleoperados."
    image="robot.png"
    date="Martes 12 de noviembre"
    time="2:00 pm"
    place="Laboratorio de Computación Aplicada de la E.P. de Ingeniería en Informática y Sistemas de la UNJBG (3er piso)"
    base_rules="https://docs.google.com/document/d/1toRWq2UkoY4hw-gMiYJqt8hYhkUwixNDhceF_lE00Is/edit?usp=sharing"
    link_form="https://forms.gle/4wdqG8TZsqfidb9w5"
  >
    <RoboticaIcon slot="iconContest" />
  </Contest>  

  <Contest
    title="Concurso de Conocimiento"
    description="Este concurso evaluará la comprensión teórica, la creatividad, y la velocidad en la resolución de preguntas relacionadas con diversas áreas de la informática y sistemas."
    image="robot.png"
    date="Miercoles 13 de noviembre de 2024"
    time="2:00 pm"
    place="Auditorio de Veterinaria, Sede Pichones Sur UNJBG"
    base_rules="https://docs.google.com/document/d/1m0zN3CV9TjwRr9_a8zABWZj9LgMnyDwtuOsZx--dSaY/edit?usp=sharing"
    link_form="https://forms.gle/MWSc9mvq8Rj2Gh7y6"
  >
    <ConocimientoIcon slot="iconContest" />
  </Contest>  

  <Contest
    title="Concurso de Programación"
    description="Este concurso evaluará el conocimiento, creatividad, eficiencia, calidad y rapidez en la resolución de problemas algorítmicos y el uso de lenguajes de programación."
    image="programming.png"
    date="Viernes 15 de noviembre"
    time="2:00 pm"
    place="Laboratorio de Computación Aplicada de la E.P. de Ingeniería en Informática y Sistemas de la UNJBG (3er piso)"
    base_rules="https://docs.google.com/document/d/19UdUemWbOxpv1LB528k5sFcOUs1E8ZclITKTeIZ_c7M/edit?usp=sharing"
    link_form="https://forms.gle/5SV3NPUN2916AM1R6"
  >
    <ProgramacionIcon slot="iconContest" />
  </Contest>
</section>
