---
import EditionGalleryLeft from "./components/EditionGalleryLeft.astro";
import EditionGalleryRight from "./components/EditionGalleryRight.astro"

---

<section class="space-y-24 mb-24">    
    <EditionGalleryLeft titleSpan="Edicion" titleStrong="Ciis XXIV"/>
    <EditionGalleryLeft titleSpan="Edicion" titleStrong="Ciis XXIV"/>
    <EditionGalleryLeft titleSpan="Edicion" titleStrong="Ciis XXIV"/>
    <EditionGalleryLeft titleSpan="Edicion" titleStrong="Ciis XXIV"/>
    <EditionGalleryLeft titleSpan="Edicion" titleStrong="Ciis XXIV"/>
    <EditionGalleryLeft titleSpan="Edicion" titleStrong="Ciis XXIV"/>
    <EditionGalleryLeft titleSpan="Edicion" titleStrong="Ciis XXIV"/>
    <EditionGalleryLeft titleSpan="Edicion" titleStrong="Ciis XXIV"/>
    <EditionGalleryLeft titleSpan="Edicion" titleStrong="Ciis XXIV"/>
</section>