---
import SectionAboutUs from "./components/SectionAboutUs.astro"
import SectionAside from "./components/SectionAside.astro"
import SectionImages from "./components/SectionImages.astro"
import { ImageAlfredo } from "../../../public/speakers/index.astro"
import { Companieros_One, Companieros_Two, Docentes, Robot } from "../../../public/memories/index.astro"
---

<footer class="w-full pt-6 footer-text-color footer-border-color animation-view">
    <div class="m-auto flex justify-center items-start max-w-[1360px] space-x-0 lg:space-x-12 flex-col lg:flex-row ">
        <SectionAboutUs 
            title="Sobre Nosotros" 
            description="El 25° Congreso Internacional de Informática y Sistemas (CIIS) es un evento academico que congrega a expertos, académicos, investigadores y profesionales del sector tecnológico de todo el mundo . Esta edición busca ser un punto de encuentro clave para compartir y discutir los avances más recientes en las áreas de Informática y Sistemas, con un enfoque particular en temas como Inteligencia Artificial, Internet de las Cosas (IoT), Ciencia de Datos, Ciberseguridad, y Robótica. El congreso ofrecerá conferencias magistrales, talleres y presentaciones de investigación, promoviendo la colaboración interdisciplinaria en el Sur del Perú."
        />
        <SectionAside 
            title="Objetivos del CIIS XXV"
            descriptions={[
                "Promover el intercambio de conocimientos entre académicos y profesionales para desarrollar soluciones tecnológicas que impulsen el progreso en áreas emergentes como la Inteligencia Artificial y la Robótica.",
                "Facilitar la difusión de investigaciones recientes y aplicaciones prácticas que promuevan la transformación digital y contribuyan al bienestar de la sociedad.",
                "Promover la colaboración y el networking entre participantes de distintas instituciones y países, creando oportunidades para futuros proyectos de investigación y desarrollo."
            ]}
        />
        <SectionImages title="Galería" images={[
            Companieros_One,
            Companieros_Two,
            Docentes,
            Robot,
        ]}/>
    </div>
    <div class="text-center w-full p-6 my-8">
        @ 2024 CIIS por Círculo de Estudio de la ESIS
    </div>
</footer>

<style>
    .footer-text-color {
        color: var(--color-text-secondary-default);
    }
    .footer-border-color {
        border-top: 1px solid var(--color-border-primary-default);
        --tw-border-opacity: 1;
    }
    .footer-border-color:hover {
        border-color: var(--color-border-primary-hover);
    }
    .footer-border-color:active {
        border-color: var(--color-border-primary-active);
    }

    .animation-view {
        animation: portfolio both;
        animation-timeline: view();
        animation-range-start: cover 0%;
        animation-range-end: contain 40%;
    }

    @keyframes portfolio {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
</style>