---
interface Props {
    name: string;
    description: string;
    price: number;
    src: string;
}

const { name, description, price, src }: Props = Astro.props;
---

<div
    class={`p-1 bg-red-50  w-[350px] h-[450px] rounded-md hover:scale-105 transition-transform bg-gradient-to-r from-[#e0e0e0] via-[#c0c0c0] to-[#909090]`}
>
    <div
        class="w-full h-full bg-[#000415] overflow-hidden flex flex-col justify-center items-center pb-6"
    >
        <div class="w-full h-1/2 relative">
            <img
                src={src}
                class="object-cover h-full w-full opacity-30 blur-sm"
                alt="Background"
            />
            <div
                class="absolute inset-0 flex flex-col justify-center items-center z-50 text-center"
            >
                <div
                    class={`text-3xl font-bold p-1 mb-3 `}
                >
                    {name}
                </div>

                <div class="font-normal text-[1rem] mb-5 text-[#b3b3b3] px-4">
                    {description}
                </div>
                <div class={`mt-2 text-5xl font-bold`}>{`S/. ${price}`}</div>
            </div>
        </div>
        <div class="w-full h-1/2 p-4 flex flex-col items-center justify-between">
            <ul class="planBenefits">
                <li>Certificado de 120 horas</li>
                <li>Kit de herramientas útiles en tu asistencia al evento</li>
            </ul>
            <button class="w-1/2 bg-slate-900 py-2 text-white rounded-md">
                !Lo quiero!
            </button>
        </div>     
    </div>
</div>

<style>
    .planBenefits {
        list-style: none;
        padding: 0;
        font-size: 0.9rem;
        text-align: left;
        color: var(--color-text-planTitle);
    }

    .planBenefits li {
        margin-bottom: 10px;
        display: flex;
        align-items: center;
    }

    .planBenefits li::before {
        content: "✔";
        color: skyblue;
        margin-right: 10px;
    }
</style>

