
<div class="flex">
    <div class={`h-[10px] w-10 rounded-[4px] bg-[#3e5ba380] m-3 `}></div>
    <div class="h-[10px] w-10 rounded-[4px] bg-[#3e5ba380] m-3"></div>
    <div class="h-[10px] w-10 rounded-[4px] bg-[#3e5ba380] m-3"></div>
</div>

