---
import RoboticaIcon from "../../../public/icons/contest/RoboticaIcon.astro";
import Layout from "../../layouts/Layout.astro";
import Contest from "../../views/contest/components/Contest.astro";
import Card from "../../views/feria-tecnologica/card.astro";
import EditionMainContainer from "../../views/gallery/components/EditionMainContainer.astro";
---

<Layout
  title="Feria Tecnológica | Congreso Internacional XXV de Informática y Sistemas"
>
  <section class="space-y-24 mb-24 px-2 sm:px-0">
    <EditionMainContainer
      title="Feria Tecnológica"
      description="¡Únete a nosotros el 14 de noviembre de 2024 a las 11:00 AM para participar en la Feria Tecnológica! Un evento único donde podrás explorar las últimas innovaciones en tecnología, conocer a empresas y startups de vanguardia, y ser parte de una experiencia diseñada para conectar con el futuro. ¡No te lo pierdas!"
      image="/FeriaTecnologia.webp"
    />
    <div class="flex flex-col gap-y-32 items-center">
      <Card
        title="Bitel Perú"
        bg="#009C8C"
        url_image="/LogosFeria/Bitel.png"
        alt="Logo de Bitel"
        color_title="#F2C600"
        description="Bitel es la operadora líder en telefonía e internet móvil en Perú, ofreciendo fibra óptica para el hogar y planes asequibles para todos. Con una cobertura que abarca tanto áreas rurales como urbanas, Bitel se compromete a democratizar el acceso a internet, promoviendo la inclusión digital y conectando a todos los peruanos."
      />
      <Card
        title="Next-COM Technology"
        bg="#DDD"
        color_title="#1E3A8A"
        url_image="/LogosFeria/LogoNext.jpg"
        alt="Logo de Next-Com Technology"
        color_description="#000"
        description="Next-COM es una empresa de telecomunicaciones y infraestructura digital con sede en Arequipa y presencia en Tacna. Especializados en la instalación de redes de fibra óptica, trabajamos para mejorar el acceso y calidad de internet en la región, especialmente en áreas con alta demanda de cobertura. Proyectos de conectividad a tu alcance con un servicio profesional y de calidad."
      />
      <Card
        title="Takana GS"
        bg="#DDD"
        url_image="/LogosFeria/LogoTaka.png"
        alt="Logo de Takana GS"
        color_title="#4CAF50"
        color_description="#000"
        description="Takana GS es tu tienda en Tacna especializada en equipos gaming y productos informáticos. Encuentra sillas gamer, tarjetas gráficas, monitores y más, con la mejor calidad y garantías. Con envíos nacionales, Takana GS es el referente para los entusiastas de la tecnología en la región."
      />
      <Card
        title="Grupo Lacume"
        bg="#000"
        color_title="#9B1B30"
        url_image="/LogosFeria/LogoLaCume.webp"
        alt="Logo de Grupo Lacume"
        color_description="#bbb"
        description="En Grupo Lacume, ofrecemos lo mejor en tecnología y electrónica de consumo: desde laptops y accesorios de computación hasta sistemas de vigilancia y audio de calidad. Con un enfoque en calidad y atención al cliente, hacemos que las soluciones tecnológicas sean accesibles para ti, ya sea en nuestras tiendas físicas o a través de nuestras redes sociales."
      />
    </div>
  </section>
</Layout>
