.accountContainer {
    display: block;
}

.accountSection {
    margin-bottom: 40px;
}

.title {
    font-size: 36px;
    color: var(--color-text-dashboard-title);
}

.subtitle {
    font-size: 18px;
    color: var(--color-text-dashboard-title);
}

.description {
    font-size: 14px;
    color: var(--color-text-dashboard-description-secondary);
    margin-bottom: 10px;
}

.accountForm {
    margin-top: 30px;
}

.accountForm > div:first-child {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.accountForm label {
    display: block;
    font-size: 14px;
    color: var(--color-text-form-label);
    margin-bottom: 10px;
}

.accountForm input,
.accountForm select {
    display: block;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background-color: var(--color-bg-form-input);
    color: var(--color-text-form-input);
    padding: 0px 20px;
    font-size: 16px;
    border: none;
    outline: 1px solid var(--color-outline-form-input);
}

.inputGroup {
    display: flex;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background-color: var(--color-bg-form-input);
    color: var(--color-text-form-input);
    outline: 1px solid var(--color-outline-form-input);
    position: relative;
}

.inputGroup input {
    padding-right: 60px;
}

.btnSaveForm {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: var(--color-bg-form-button);
    color: var(--color-text-form-button);
    border: none;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    user-select: none;
    position: absolute;
    right: 0;
}

.btnSaveForm:hover {
    background-color: var(--color-hover-bg-form-button);
}

.btnSaveForm:active {
    background-color: var(--color-active-bg-form-button);
    transform: translateY(2px);
}

.accountForm select {
    -webkit-appearance: none;
    -moz-appearance: none;
}

.inputInvalid {
    outline: 1px solid red !important;
}

.textInvalid {
    font-size: 12px;
    color: red;
    margin-left: 20px;
}

.bgQr {
    width: 250px;
    height: 250px;
    background-color: white;
    margin-top: 20px;
    border-radius: 6px;
}

@media (max-width: 1100px) {
    .accountForm > div:first-child {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 576px) {
    .accountForm > div:first-child {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }
}