.mainContainer{
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
}

@media (max-width: 992px) {
    .mainContainer {
        flex-direction: column;
        align-items: center;
    }
}