.sideBar {
    width: 240px;
    height: 100vh;
    padding: 20px;
    background-color: var(--color-bg-sidebar);
    outline: 1px solid var(--color-outline-sidebar);
    z-index: 100;
}

.logoSideBar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 40px;
}

.logoImage {
    width: 26px;
    height: 26px;
    background-color: var(--color-logo-image-sidebar);
    opacity: 0.8;
    border-radius: 4px;
    margin-right: 6px;
    display: flex;         
    align-items: center;    
    justify-content: center;
    overflow: hidden;
}

.logoImage img {
    width: 100%;            
    height: 100%;      
    object-fit: cover;
}

.logoText {
    font-size: 20px;
    user-select: none;
    cursor: pointer;
    text-decoration: none;
    color: var(--color-logo-text-sidebar);
}

.sideBarItems {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sideBarLink {
    width: 100%;
    height: 38px;
    line-height: 38px;
    padding: 0px 12px;
    color: var(--color-link-sidebarnavlink);
    border-radius: 4px;
    text-decoration: none;
}

.sideBarLinkDisabled {
    pointer-events: none;
    color: gray;
}

.sideBarLinkDisabled span svg {
    fill: gray !important;
}

.sideBarLink:hover {
    background-color: var(--color-hover-bg-sidebarnavlink);
}

.sideBarLink:active {
    background-color: var(--color-active-bg-sidebarnavlink);
}

.sideBarLinkActive {
    background-color: var(--color-bg-on-sidebarnavlink);
}

.sideBarLink span {
    margin-right: 6px;
}

.sideBarLink span svg {
    fill: var(--color-icon);
}

@media (max-width: 768px) {
    .sideBar {
        position: fixed;
    }
}