---
interface Props {
  nameSpeaker: string;
  rolSpeaker: string;
}

const { nameSpeaker, rolSpeaker }: Props = Astro.props;
---


<!-- https://nucleoapp.com/svg-flag-icons -->

<article class="text-color w-72 p-4 rounded-[28px] active:bg-[#0e0e20] hover:scale-105 transition-transform border border-default relative">
    <div class="w-full">
        <figure class="w-full mb-2 overflow">
            <img class="object-cover w-full aspect-square rounded-xl" src="speakers/Claudio.jpeg" alt="Primer ponente">
            <img class="absolute blur-lg -z-10 block object-cover w-full aspect-square transition-all opacityImage bg-white rounded-[10px] top-0 lef-0 right-0" src="speakers/Claudio.jpeg" alt="Primer ponente">
        </figure>
        <div class="relative">
            <h4 class="font-bold tracking-wider text-lg">
                {nameSpeaker}
            </h4>
            <div class="flex-wrap max-w-52">
                <p class="break-words text-sm text-color-secondary">{rolSpeaker}</p>
            </div>
            <div class="flex items-center absolute right-0 bottom-0 top-0">
                <slot name="icon" />
            </div>
        </div>
    </div>
</article>

<style>
    .text-color {
        color: var(--color-text-secondary-default);
    }

    .text-color-secondary {
        color: var(--color-text-secondary-active)
    }
    .opacityImage {
        opacity: 0.4;
    }

    .border-default {
        border-color: var(--color-border-primary-default);
    }

    .border-default:hover {
        border-color: var(--color-border-primary-hover);
    }

    .border-default:active {
        border-color: var(--color-border-primary-active);
    }

    .bg-active {
        background-color: transparent;
    }

    .bg-active:active {
        background-color: var(--color-bg-surface-primary-active);
    }

    article:hover img.opacityImage {
        opacity: 0.6;
    }
</style>