.chip {
    width: auto;
    max-width: 100px;
    height: 28px;
    color: #FFFFFF !important;
    font-size: 14px;
    line-height: 28px;
    border-radius: 16px;
    padding: 0px 10px;
}

.success {
    background-color: #3AAF62;
}

.warning {
    background-color: #B5872B;
}

.error {
    background-color: #FF0000;
}

.info {
    background-color: #3B5998;
}

.secondary {
    background-color: #6B7280;
}