.conferenceContainer {
    padding: 85px 120px 85px 120px;
}

.presentationContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 48px;
    line-height: 58px;
    margin-bottom: 30px;
    user-select: none;
    color: var(--color-text-title-conference);
}

.title div{
    text-align: center;
}

.highlight {
    color: var(--color-text-highlight-conference);
}

.description {
    text-align: center;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    line-height: 32px;
    color: var(--color-text-description-conference);
    user-select: none;
}

.container {
    width: 100%;
    margin: auto;
}

.topicsContainer {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 32px;
    padding: 16px;
    place-items: center;
}

@media (max-width: 1200px) {
    .conferenceContainer {
        padding: 60px 80px 60px 80px;
    }

    .title {
        font-size: 40px;
        line-height: 48px;
    }

    .description {
        width: 60%;
        font-size: 18px;
        line-height: 28px;
    }

    .container {
        width: 80%;
    }
}

@media (max-width: 1100px) {
    .topicsContainer{
        grid-template-columns: repeat(2, 1fr); /* 2 columnas */
        grid-template-rows: auto;
    }
}

@media (max-width: 992px) {
    .conferenceContainer {
        padding: 40px 60px 40px 60px;
    }

    .title {
        font-size: 32px;
        line-height: 38px;
    }

    .description {
        width: 70%;
        font-size: 16px;
        line-height: 24px;
    }

    .container {
        width: 90%;
    }

    .topicsContainer {
        grid-template-columns: 1fr
    }
}

@media (max-width: 768px) {
    .conferenceContainer {
        padding: 20px 40px 20px 40px;
    }

    .title {
        font-size: 28px;
        line-height: 34px;
    }

    .description {
        width: 80%;
        font-size: 14px;
        line-height: 22px;
    }

    .container {
        width: 100%;
    }

    .topicsContainer {
        gap: 24px; /* Reduce el espacio entre los ítems */
    }
}

@media (max-width: 576px) {
    .conferenceContainer {
        padding: 20px 20px 10px 20px;
    }

    .title {
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 20px;
    }

    .description {
        width: 100%;
        font-size: 14px;
        line-height: 18px;
    }

    .topicsContainer {
        gap: 16px;
    }
}

@media (max-width: 420px) {
    .conferenceContainer {
        padding: 20px 20px 10px 20px;
    }

    .title {
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 20px;
    }

    .description {
        width: 100%;
        font-size: 14px;
        line-height: 18px;
    }

    .container {
        width: 100%;
        text-align: center;
    }

    .topicsContainer {
        gap: 16px;
        justify-content: center; 
        align-items: center; 
        grid-template-columns: 1fr;
    }
}
