.footerContainer {
    color: var(--color-bg-footer);
    padding: 20px;
    font-size: 14px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 1px solid var(--color-outline-footer);
    color: var(--color-text-footer);
    user-select: none;
}

.footerContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.footerSubtitle {
    font-size: 18px;
    text-align: left;
    margin-bottom: 4px;
}

.footerText {
    font-size: 14px;
}

.footerInfo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.footerContactInfo {
    display: flex;
    flex-direction: column;
}

.footerContactInfo div {
    margin-bottom: 16px;
}

.socialMedia {
    margin-bottom: 0 !important;
}

.socialIcons {
    display: flex;
    gap: 8px;
}

.socialIcons svg {
    width: 28px;
    height: 28px;
    fill: var(--color-fill-socialicons-main);
    opacity: 0.6;
    transition: fill 0.3s ease, opacity 0.3s ease;
    cursor: pointer;
}

.socialIcons svg:hover {
    fill: var(--color-hover-fill-socialicons-main);
    opacity: 1;
}

.footerRights {
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
}

.phoneNumber {
    display: flex;
    align-items: center;
    height: 18px;
}

.phoneNumber svg {
    margin-right: 4px;
}

@media (max-width: 1200px) {
    .socialIcons {
        gap: 8px;
    }

    .footerMap iframe {
        width: 400px;
    }
}

@media (max-width: 992px) {
    .footerMap iframe {
        width: 300px;
    }
}

@media (max-width: 768px) {
    .footerContent {
        width: 90%;
    }

    .footerInfo {
        width: 100%;
        grid-template-columns: 1fr;
    }

    .footerMap iframe {
        width: 100%;
    }
}