:root {
  --color-content: #0E0E11;
  /*SLIDER*/
  --color-bg-slider: #0095CC;
  --color-hover-bg-slider: transparent;
  --color-hover-outline-slider: #0095CC;
  --color-text-slider: #CECECE;
  --color-hover-text-slider: #0095CC;

  /*TOPIC*/
  --color-bg-topic: transparent;
  --color-outline-topic: #27272A;
  --color-fill-icon: #0095CC;
  --color-text-title: #F4F4F5;
  --color-text-description: #F0FAFF;
  --shadow-topic: rgba(0, 0, 0, 0.1);

  /*FOOTER*/
  --color-bg-footer: transparent;
  --color-outline-footer: #27272A;
  --color-text-footer: #F0FAFF;

  /*CONFERENCE TOPIC*/
  --color-text-highlight-conference: #34CFFC;
  --color-text-title-conference: #F4F4F5;
  --color-text-description-conference: #F0FAFF;

  /*SPEAKERS*/
  --color-text-title-speakers: #F4F4F5;
  --color-bg-card-speaker: #27272A;
  --color-text-card-speaker-details: #F4F4F5;
  --color-text-card-speaker: #DDD;

  /*PREVIOUS EDITIONS*/
  --color-text-title-editions: #F4F4F5;
  --color-text-highlight-editions: #34CFFC;

  /*BUTTONS*/
  --color-bg-actionbutton: #0077A5;
  --color-text-actionbutton: #FFFFFF;
  --color-hover-bg-actionbutton: #005F8D;
  --color-active-bg-actionbutton: #004C73; 
  --color-focus-outline-actionbutton: #005F8D;

  /*MAIN*/
  --color-text-short-main: #B8ECFF;
  --color-text-date: #34CFFC;
  --color-text-title-child1-main: #34CFFC; 
  --color-text-title-child2-main: #F4F4F5;  
  --color-text-description-main: #F0FAFF;  
  --color-bg-button-editions-main: transparent;
  --color-text-button-editions-main: #0077A5; 
  --color-border-button-editions-main: #0077A5; 
  --color-hover-bg-button-editions-main: transparent;
  --color-hover-text-button-editions-main: #34CFFC;
  --color-hover-border-button-editions-main: #34CFFC;
  --color-active-bg-button-editions-main: #007bb5;
  --color-active-text-button-editions-main: #FFFFFF;

  --color-bg-button-inscription-main: #0095CC; 
  --color-text-button-inscription-main: #FFFFFF; 
  --color-border-button-inscription-main: transparent;
  --color-hover-bg-button-inscription-main: #007bb5;
  --color-active-bg-button-inscription-main: #005999;
  --color-focus-outline-button-inscription-main: #007bb5;

  --color-text-socialmedia-main: #F0FAFF;
  --color-fill-socialicons-main: #F0FAFF;
  --color-hover-fill-socialicons-main: #0095CC;

  /*NAVBAR*/
  --color-bg-navbar: transparent;
  --color-outline-navbar: #27272A;
  --color-link-off-navlink: #A1A1AA;
  --color-link-on-navlink: #F4F4F5;
  --color-logo-image-navbar: #0077A5;
  --color-logo-text-navbar: #F4F4F5;
  --color-hover-text-navlink: #B8ECFF;
  --color-hover-bg-navlink: #0056B31A;
  --color-active-text-navlink: #003d7a;
  --color-active-bg-navlink: #DFF5FF;
  --color-fill-menubutton-navbar: #27272A;

  /*MENU MOBILE*/
  --color-bg-menumobile: #27272A;
  --color-fill-closebutton-menumobile: #A1A1AA;
  --color-bg-closebutton-menumobile: transparent;
  --color-hover-fill-closebutton-menumobile: #0095CC;
  --color-text-link-menumobile: #A1A1AA;
  --color-hover-text-link-menumobile: #0095CC;
  --color-text-switcherlabel-menumobile: #F4F4F5;
  --color-outline-switcher-menumobile: #A1A1AA;
  --color-text-switcher-select-menumobile: #A1A1AA;

  /*COUNTER*/
  --color-bg-counter: transparent;
  --color-text-counter: #34CFFC;
  --color-text-label-counter: #34CFFC; 

  /*LOGIN*/
  --color-bg-login: #0E0E11;
  --color-outline-login: #27272A;
  --color-bg-overlay: #0E0E11CC;
  --color-bg-input-login: #18181B;
  --color-outline-input-login: #27272A;
  --color-text-input-login: #FFFFFF;
  --color-bg-submit-login: #0095CC;
  --color-text-submit-login: #FFFFFF;
  --color-default-login: #FFFFFF;
  --color-outline-closemodal-login: #27272A;
  --color-hover-bg-closemodal-login: #0095CC;
  --color-hover-bg-submit-login: #007bb5;

  /*PLAN*/
  --color-bg-plan: #121212;
  --color-text-plan: white;
  --color-bg-planCard: #1e1e1e;
  --color-text-planTitle: white;
  --color-text-planSubtitle: #b3b3b3;
  --color-text-planDuration: #00bfff;
  --color-border-planButton: #00bfff;
  --color-text-planButton: #00bfff;
  --color-bg-hover-planButton: #00bfff;
  --color-text-hover-planButton: white;
  --color-border-planDivider: #333;
  --color-icon-planBenefits: #00bfff;

  /*PLAN POSTMASTER*/
  --color-text-plan-postmaster: #F4F4F5;
  --color-bg-plan-postmaster-card: #1E1E1E;
  --color-text-plan-postmaster-card: #FFFFFF;
  --color-outline-plan-postmaster-card: #FFFFFF;

  /*LAYOUT REGISTRO*/
  --color-text-title-registro: #F4F4F5;
  --color-bg-step-registro: #333;
  --color-text-step-registro: white;
  --color-bg-active-step-registro: white;
  --color-text-active-step-registro: black;
  --color-bg-line-registro: #555;
  --color-bg-decoration-registro: #27272A;

  /*INFORMACION*/
  --color-bg-formContainer-informacion: #121212;
  --color-text-formGroup-label-informacion: #FFFFFF;
  --color-bg-input-informacion: #18181B;
  --color-border-input-informacion: #27272A;
  --color-text-input-informacion: #FFFFFF;
  --color-placeholder-input-informacion: #777;
  --color-text-importantNote-informacion: #1fafff;
  --color-bg-submitButton-informacion: #0095CC;
  --color-text-submitButton-informacion: #FFFFFF;
  --color-bg-searchButton-informacion: #27272A;
  --color-text-searchButton-informacion: #FFFFFF;
  --color-fill-searchButton-informacion: #FFFFFF;

  /*UPLOAD*/
  --color-bg-uploadFormContainer: #121212;
  --color-text-uploadFormContainer: #FFFFFF;
  --color-bg-submitButton-upload: #0095CC;
  --color-text-submitButton-upload: #FFFFFF;

  /*DROPZONE*/
  --color-bg-dropzone: #27272A;

  /*RESET PASSWORD*/
  --color-text-title-resetpassword: #F4F4F5;
  --color-text-description-resetpassword: #BABABA;

  /*DIALOG*/
  --color-bg-dialog: #27272A;
  --color-text-dialog: #FFFFFF;

  /*PAYMENT OPTIONS*/
  --color-bg-option-paymentoptions: #27272A;
  --color-outline-option-paymentoptions: #55555B;
  --color-accent-radioButton-paymentoptions: #34CFFC;
  --color-text-radioLabel-paymentoptions: #FFFFFF;

  /*PAGO*/
  --color-bg-pagoContainer-Pago: transparent;
  --color-text-infoText-Pago: #F0FAFF;

  --color-bg-containerPayment-Pago: transparent;

  --color-bg-paymentOptions-Pago: #27272A;
  --color-outline-accountInfo-Pago: #55555B;
  --color-text-accountText-Pago: #BABABA;
  --color-text-accountNumber-Pago: #FFFFFF;
  --color-fill-copyIcon-Pago: #BABABA;
  --color-fill-copyIcon-hover-Pago: #FFFFFF;

  --color-text-verificationText-Pago: #34CFFC;
  --color-bg-registerButton-Pago: #0095CC;
  --color-bg-registerButton-hover-Pago: #09B9EE;
  --color-text-optionalText-Pago: #34CFFC;
}

[data-theme="light"] {
  --color-content: #FFFFFF;
  /*SLIDER*/
  --color-bg-slider: #09B9EE;
  --color-hover-bg-slider: transparent;
  --color-hover-outline-slider: #09B9EE;
  --color-text-slider: #F1F1F1;
  --color-hover-text-slider: #09B9EE;
  
  /*TOPIC*/
  --color-bg-topic: transparent;
  --color-outline-topic: #E4E4E7;
  --color-fill-icon: #0095CC;
  --color-text-title: #27272A;
  --color-text-description: #08415C;

  /*FOOTER*/
  --color-bg-footer: transparent;
  --color-outline-footer: #E4E4E7;
  --color-text-footer: #08415C;

  /*CONFERENCE TOPIC*/
  --color-text-highlight-conference: #0095CC;
  --color-text-title-conference: #27272A;
  --color-text-description-conference: #08415C;

  /*SPEAKERS*/
  --color-text-title-speakers: #27272A;
  --color-bg-card-speaker: #FFFFFF;
  --color-text-card-speaker-details: #27272A;
  --color-text-card-speaker: #333;

  /*CAROUSEL TOPIC*/


  /*PREVIOUS EDITIONS*/
  --color-text-title-editions: #27272A;
  --color-text-highlight-editions: #0095CC;

  /*BUTTONS*/
  --color-bg-actionbutton: #09B9EE;
  --color-text-actionbutton: #FFFFFF;
  --color-hover-bg-actionbutton: #07a0d9;
  --color-active-bg-actionbutton: #0599c9;
  --color-focus-outline-actionbutton: #0095CC;

  /*MAIN*/
  --color-text-short-main: #0A5370;
  --color-text-title-child1-main: #0095CC;
  --color-text-title-child2-main: #2A2727;
  --color-text-date: #34CFFC;
  --color-text-description-main: #08415C;
  --color-bg-button-editions-main: transparent;
  --color-text-button-editions-main: #0095CC;
  --color-border-button-editions-main: #0095CC;
  --color-hover-bg-button-editions-main: transparent;
  --color-hover-text-button-editions-main: #0095CC;
  --color-hover-border-button-editions-main: #34CFFC;
  --color-active-bg-button-editions-main: #007bb5;
  --color-active-text-button-editions-main: #FFFFFF;

  --color-bg-button-inscription-main: #09B9EE;
  --color-text-button-inscription-main: #FFFFFF;
  --color-border-button-inscription-main: transparent;
  --color-hover-bg-button-inscription-main: #007bb5;
  --color-active-bg-button-inscription-main: #005999;
  --color-focus-outline-button-inscription-main: #007bb5;

  --color-text-socialmedia-main: #08415C;
  --color-fill-socialicons-main: #08415C;
  --color-hover-fill-socialicons-main: #0095CC;

  /*NAVBAR*/
  --color-bg-navbar: transparent;
  --color-outline-navbar: #E4E4E7;
  --color-link-off-navlink: #717171;
  --color-link-on-navlink: #27272A;
  --color-logo-image-navbar: #0095CC;
  --color-logo-text-navbar: #27272A;
  --color-hover-text-navlink: #046488;
  --color-hover-bg-navlink: #0077A510;
  --color-active-text-navlink: #003d7a;
  --color-active-bg-navlink: #0056B320;

  /*MENU MOBILE*/
  --color-bg-menumobile: #F5F5F5;
  --color-fill-closebutton-menumobile: #27272A;
  --color-bg-closebutton-menumobile: transparent;
  --color-hover-fill-closebutton-menumobile: #007B99;
  --color-text-link-menumobile: #27272A;
  --color-hover-text-link-menumobile: #007B99;
  --color-text-switcherlabel-menumobile: #1F1F1F;
  --color-outline-switcher-menumobile: #27272A;
  --color-text-switcher-select-menumobile: #27272A;

  /*COUNTER*/
  --color-bg-counter: transparent;
  --color-text-counter: #08415C;
  --color-text-label-counter: #08415C; 

  /*LOGIN*/
  --color-bg-login: #F9F9F9;
  --color-outline-login: #D1D1D6;
  --color-bg-overlay: #0E0E11CC;
  --color-bg-input-login: #FFFFFF;
  --color-outline-input-login: #C7C7CC;
  --color-text-input-login: #27272A;
  --color-bg-submit-login: #09B9EE;
  --color-text-submit-login: #FFFFFF;
  --color-default-login: #27272A;
  --color-outline-closemodal-login: #717171;
  --color-hover-bg-closemodal-login: #09B9EE;
  --color-hover-bg-submit-login: #007bb5;

  /*PLAN*/
  --color-bg-modal: #FFFFFF;
  --color-text-modal: #27272A;
  --color-bg-planCard: #F5F5F5;
  --color-text-planTitle: #27272A;
  --color-text-planSubtitle: #717171;
  --color-text-planDuration: #0095CC;
  --color-border-planButton: #0095CC;
  --color-text-planButton: #0095CC;
  --color-bg-hover-planButton: #0095CC;
  --color-text-hover-planButton: #FFFFFF;
  --color-border-planDivider: #D1D1D6;
  --color-icon-planBenefits: #0095CC;

  /*PLAN POSTMASTER*/
  --color-text-plan-postmaster: #27272A;
  --color-bg-plan-postmaster-card: #F5F5F5;
  --color-text-plan-postmaster-card: #27272A;
  --color-outline-plan-postmaster-card: #D1D1D6;

  /*LAYOUT REGISTRO*/
  --color-text-title-registro: #27272A;
  --color-bg-step-registro: #E4E4E7;
  --color-text-step-registro: #27272A;
  --color-bg-active-step-registro: #27272A;
  --color-text-active-step-registro: #ffffff;
  --color-bg-line-registro: #B3B3B3;
  --color-bg-decoration-registro: #E4E4E7;

  /*INFORMACION*/
  --color-bg-formContainer-informacion: #F5F5F5;
  --color-text-formGroup-label-informacion: #27272A;
  --color-bg-input-informacion: #FFFFFF;
  --color-border-input-informacion: #DDDDDD;
  --color-text-input-informacion: #000000;
  --color-placeholder-input-informacion: #999;
  --color-text-importantNote-informacion: #0095CC;
  --color-bg-submitButton-informacion: #0095CC;
  --color-text-submitButton-informacion: #FFFFFF;
  --color-bg-searchButton-informacion: #E4E4E7;
  --color-text-searchButton-informacion: #000000;
  --color-fill-searchButton-informacion: #000000;

  /*UPLOAD*/
  --color-bg-uploadFormContainer: #F5F5F5;
  --color-text-uploadFormContainer: #27272A;
  --color-bg-submitButton-upload: #0095CC;
  --color-text-submitButton-upload: #FFFFFF;

  /*DROPZONE*/
  --color-bg-dropzone: #FFFFFF;

  /*RESET PASSWORD*/
  --color-text-title-resetpassword: #27272A;
  --color-text-description-resetpassword: #27272A;

  /*DIALOG*/
  --color-bg-dialog: #FFFFFF;
  --color-text-dialog: #27272A;

  /* PAYMENT OPTIONS */
  --color-bg-option-paymentoptions: #F5F5F5; 
  --color-outline-option-paymentoptions: #DDDDDD; 
  --color-accent-radioButton-paymentoptions: #0095CC; 
  --color-text-radioLabel-paymentoptions: #333333;

  /*pago*/
  --color-bg-pagoContainer-Pago: transparent;
  --color-text-infoText-Pago: #333333;

  --color-bg-containerPayment-Pago: #FFFFFF;

  --color-bg-paymentOptions-Pago: #FFFFFF;
  --color-outline-accountInfo-Pago: #DDDDDD;
  --color-text-accountText-Pago: #333333;
  --color-text-accountNumber-Pago: #000000;
  --color-fill-copyIcon-Pago: #333333;
  --color-fill-copyIcon-hover-Pago: #000000;

  --color-text-verificationText-Pago: #007ACC;
  --color-bg-registerButton-Pago: #007ACC;
  --color-bg-registerButton-hover-Pago: #005B99;
  --color-text-optionalText-Pago: #007ACC;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
  
html,
body{
  min-height: 100vh;
  max-width: 100vw;
  background-color: var(--color-content);
}
