.textWrapper {
  display: flex;
  justify-content: flex-start;
  background-color: var(--color-bg-slider);
  height: 62px;
  align-items: center;
  overflow: hidden;
  user-select: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}
  
.textWrapper:hover {
  background-color: var(--color-hover-bg-slider);
  outline: 2.5px solid var(--color-hover-outline-slider);
}
  
.textWrapper p {
  font-size: 18px;
  color: var(--color-text-slider);
  white-space: nowrap;
  text-transform: uppercase;
  padding: 0 6rem;
  letter-spacing: 1px;
  animation: move 18s linear infinite;
  transition: color 0.3s ease;
}
  
.textWrapper:hover p {
  color: var(--color-hover-text-slider);
}
  
@keyframes move {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
  
@media (max-width: 768px) {
  .textWrapper {
    height: 48px;
  }
}