.formContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px;
    border-radius: 8px;
    max-width: 1200px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.formGroup {
    width: 30%;
    margin-bottom: 20px;
}

.formGroup label {
    display: block;
    font-size: 14px;
    color: #FFFFFF;
    margin-bottom: 8px;
    padding-left: 10px;
}

.inputWrapper {
    display: flex;
    align-items: center;
    position: relative;
}

.inputWrapper input {
    width: 100%;
    height: 50px;
    padding: 0px 20px;
    outline: 1px solid #27272A;
    border: none;
    border-radius: 999999px;
    background-color: #3E5BA350;
    opacity: 75%;
    color: #FFFFFF;
    font-size: 16px;
}

.inputWrapper input[type="password"]::-ms-reveal {
    display: none;
}
      
.inputWrapper input[type="password"]::-ms-clear {
    display: none;
}

.inputWrapper input::placeholder {
    color: gray;
    font-size: 14px;
}

.importantNote {
    color: #1fafff;
    font-size: 12px;
    margin-top: 5px;
}

.submitButtonWrapper {
    width: 100%;
    text-align: center;
}

.submitButton {
    padding: 15px;
    background-color:#3e5ba380;
    color: white;
    border-radius: 0.375rem;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    width: 20%;
    margin-top: 30px;
}

.submitButton:hover{
    background-color:#1e40af;
}

.searchButton {
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 50px;
    background-color: #3e5ba3;
    border: none;
    border-radius: 999999px;
    fill: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchButton svg {
    fill: #FFFFFF;
    width: 24px;
    height: 24px;
}

.plan {
    display: none;
}

.inputInvalid {
    outline: 1px solid red !important;
}

.textInvalid {
    font-size: 12px;
    color: red;
    margin-left: 20px;
}

@media (max-width: 1024px) {
    .formGroup {
        width: 48%;
    }
}

@media (max-width: 768px) {
    .formGroup {
        width: 100%;
    }

    .submitButton {
        width: 100%;
    }
}