.container {
    position: fixed;
    top: 0rem;
    right: 0rem;
    width: 100%;
    max-width: 20rem;
    background-color: var(--color-bg-menumobile);
    /* border-radius: 0.5rem; */
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    padding: 1.5rem;
    font-size: 1rem;
    z-index: 999;
}
  
.closeButton {
    position: absolute;
    top: 1.25rem;
    right: 1.25rem;
    width: 1rem;
    height: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: var(--color-fill-closebutton-menumobile);
    background-color: var(--color-bg-closebutton-menumobile);
    border: none;
    padding: 0;
    margin: 0; 
    outline: none; 
    cursor: pointer; 
}

.closeButton:hover {
    fill: var(--color-hover-fill-closebutton-menumobile);
}
  
.menu {
    border-top-width: 1px;
    border-color: #e5e7eb;
}

.menuItem:first-child {
    margin-top: 0;
}

.menuItem {
    margin-top: 1.5rem;
    list-style: none;
}
  
.menuLink {
    color: var(--color-text-link-menumobile);
    text-decoration: none;
}
  
.menuLink:hover {
    color: var(--color-hover-text-link-menumobile);
}

.themeSwitcherContainer {
    display: flex;
    align-items: center;
    border-radius: 0.5rem;
    padding: 1.5rem 0 0 0 ;
    color: #374151;
    font-weight: 600;
}

.themeSwitcher {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
  
.themeSwitcherLabel {
    color: var(--color-text-switcherlabel-menumobile);
    font-weight: 400;
}
  
.icon {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.5rem;
}
  
.hidden {
    display: none;
}
  
.block {
    display: block;
}
  
.select {
    appearance: none;
    inset: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.separator {
    margin: 1.5rem 0 0 0;
    border: none;
    border-top: 1px solid #202122;
}

.switcher {
    display: flex;
    width: 100px;
    height: 40px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* outline: 2px solid  var(--color-outline-switcher-menumobile);*/
    border: none;
    background-color: transparent;
    appearance: none;
    cursor: pointer;
}

.switcher select {
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: bold;
    color: var(--color-text-switcher-select-menumobile);
    background-color: transparent;
    appearance: none;
    cursor: pointer;
    width: 100%;        
    text-align: center;      
    padding: 10px 0;         
}

.switcher svg {
    width: 24px;
    height: 24px;
    margin: 8px auto;
}

.moon {
    fill: #FFFFFF;
}