.pagoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-bg-pagoContainer-Pago);
  padding: 20px;
  border-radius: 8px;
  color: var(--color-text-infoText-Pago);
}

.infoText {
  margin-bottom: 32px;
  text-align: center;
  font-size: 16px;
  color: var(--color-text-infoText-Pago);
}

.containerPayment {
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: center;
  padding: 20px;
}

.paymentOptions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;
  width: 60%;
  height: 100%;
}

.PaymentInformation {
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: left;
}

.accountInfo {
  background-color: var(--color-bg-paymentOptions-Pago);
  outline: 1px solid var(--color-outline-accountInfo-Pago);
  padding: 30px;
  border-radius: 8px;
  width: 70%;
}

.accountRow {
  margin-bottom: 12px;
}

.accountText {
  color: var(--color-text-accountText-Pago);
  text-align: left;
  margin-bottom: 4px;
  font-size: 18px;
}

.accountDetails {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.accountDetails img {
  display: block;
  width: 200px;
  margin: 0px auto;
  margin-top: 10px;
  border-radius: 10px;
}

.accountNumber {
  color: var(--color-text-accountNumber-Pago);
  font-size: 18px;
  margin-left: 10px;
  text-align: right;
}

.copyIcon {
  cursor: pointer;
  width: 20px;
  height: 20px;
  fill: var(--color-fill-copyIcon-Pago);
  margin-left: 10px;
}

.copyIcon:hover {
  fill: var(--color-fill-copyIcon-hover-Pago);
}

.verificationText {
  margin-top: 24px;
  font-size: 12px;
  color: var(--color-text-verificationText-Pago);
  text-align: center;
}

.registerButton {
  margin-top: 20px;
  padding: 10px 50px;
  background-color: var(--color-bg-registerButton-Pago);
  border: none;
  border-radius: 999999px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.registerButton:hover {
  background-color: var(--color-bg-registerButton-hover-Pago);
}

.optionalText {
  margin-top: 10px;
  font-size: 12px;
  color: var(--color-text-optionalText-Pago);
  text-align: center;
}

@media (max-width: 992px) {
  .containerPayment {
    flex-direction: column;
    gap: 20px;
  }
  .PaymentInformation,
  .paymentOptions,
  .PaymentInformation,
  .accountInfo {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .containerPayment {
    width: 100%;
  }
}