.option {
    display: flex;
    align-items: center;
    background-color: var(--color-bg-option-paymentoptions);
    outline: 1px solid var(--color-outline-option-paymentoptions);
    padding: 10px 20px;
    border-radius: 4px;
    width: 50%;
}

.radioButton {
    margin-right: 15px;
    accent-color: var(--color-accent-radioButton-paymentoptions);
    transform: scale(1.5);
}

.radioLabel {
    font-size: 18px;
    color: var(--color-text-radioLabel-paymentoptions);
}

@media (max-width: 992px) {
    .option {
        width: 100%;
    }    
}