.option {
    display: flex;
    align-items: center;
    background-color: #27272A;
    outline: 1px solid #55555B;
    padding: 10px 20px;
    border-radius: 4px;
    width: 50%;
}

.radioButton {
    margin-right: 15px;
    accent-color: #34CFFC;
    transform: scale(1.5);
}

.radioLabel {
    font-size: 18px;
    color: #FFFFFF;
}

@media (max-width: 992px) {
    .option {
        width: 100%;
    }    
}