.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.containerTitle {
  margin-top: 50px;
  color: var(--color-text-plan-postmaster);
}
.containerContent {
  color: var(--color-text-plan-postmaster);
  margin-top: 20px;
  margin-bottom: 50px;
}
.containerCardSales {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding: 8px 16px;
}

/* Requisitos */
.card {
  background-color: var(--color-bg-plan-postmaster-card);
  border-radius: 8px;
  padding: 20px;
  width: 350px;
  text-align: center;
  color: var(--color-text-plan-postmaster-card);
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 8px;
}

.subtitle {
  font-size: 1rem;
  color: #a0a0a0;
  margin-bottom: 20px;
}

.priceContainer {
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-bottom: 12px;
}

.price {
  font-size: 2.5rem;
  font-weight: bold;
  margin-right: 10px;
}

.originalPrice {
  font-size: 0.8rem;
  color: #a0a0a0;
  text-decoration: line-through;
}

.discount {
  font-size: 1rem;
  color: #00bfff;
  margin-bottom: 20px;
}

.subscribeButton {
  background-color: transparent;
  border: 2px solid #0096cc;
  color: #0096cc;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 30px;
}

.subscribeButton:hover {
  background-color: #008fb3;
  color: white;
}

.containerRequisito {
  text-align: left;
  border-top: 1px solid var(--color-outline-plan-postmaster-card);
  padding-top: 20px;
}

.checkListItem {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.checkIcon {
  color: #00ffaa;
  margin-right: 10px;
}

.checkText {
  font-size: 12px;
  color: #a0a0a0;
}

@media (max-width: 576px) {
  .containerTitle,
  .containerContent {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (max-width: 350px) {
  .card {
    width: 100%;
  }
}