.containerModal {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: var(--color-bg-modal);
    color: var(--color-text-modal);
    border-radius: 10px;
    margin: 10px;
}

.planCard {
    background-color: var(--color-bg-planCard);
    border-radius: 10px;
    padding: 20px;
    max-width: 300px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    height: 460px;
}

.planTitle {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 10px;
    color: var(--color-text-planTitle);
}

.planSubtitle {
    font-size: 1rem;
    color: var(--color-text-planSubtitle);
    margin-bottom: 20px;
    height: 35px;
}

.priceContainer {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-bottom: 12px;
}

.price {
    font-size: 2.5rem;
    font-weight: bold;
    margin-right: 10px;
    color: var(--color-text-planTitle);
}

.originalPrice {
    font-size: 0.8rem;
    color: #a0a0a0;
    text-decoration: line-through;
}

.discount {
    font-size: 1rem;
    color: #00bfff;
    margin-bottom: 6px;
}

.planDuration {
    font-size: 1.2rem;
    color: var(--color-text-planDuration);
    margin-bottom: 20px;
}

.planButton {
    background-color: transparent;
    color: var(--color-text-planButton);
    border: 2px solid var(--color-border-planButton);
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.planButton:hover {
    background-color: var(--color-bg-hover-planButton);
    color: var(--color-text-hover-planButton);
}

.planDivider {
    margin: 20px 0;
    border: none;
    border-bottom: 1px solid var(--color-border-planDivider);
}

.planBenefits {
    list-style: none;
    padding: 0;
    font-size: 0.9rem;
    text-align: left;
    color: var(--color-text-planTitle);
}

.planBenefits li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.planBenefits li::before {
    content: '✔';
    color: var(--color-icon-planBenefits);
    margin-right: 10px;
}

.referencia {
    display: none;
}