.edicionesContainer{
    padding: 85px 120px 30px 120px;
}

.title{
    font-size: 48px;
    line-height: 58px;
    color: var(--color-text-title-editions);
    text-align: center;
    user-select: none;
}

.title span{
    color: var(--color-text-highlight-editions);
}

@media (max-width: 768px) {
    .title{
        font-size: 32px;
        line-height: 32px;
    }
    .edicionesContainer{
        padding: 20px 120px 20px 120px;
    }
}

@media (max-width: 420px) {
    .title{
        font-size: 24px;
        line-height: 24px;
    }
}