.plansContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 0px;
}

.title{
    color: var(--color-text-title-registro);
    text-align: center;
    font-size: 44px;
}

.stepsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 20px;
    margin-top: 20px;
}

.step {
    background-color: var(--color-bg-step-registro);
    color: var(--color-text-step-registro);
    border-radius: 50%;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.decorationContainer {
    display: flex;
}

.active {
    background-color: var(--color-bg-active-step-registro);
    color: var(--color-text-active-step-registro);
}

.line {
    width: 40px;
    height: 2px;
    background-color: var(--color-bg-line-registro);
}

.decoration{
    height: 10px;
    width: 40px;
    border-radius: 4px;
    background-color: var(--color-bg-decoration-registro);
    margin: 12px;
}

.inactive{
    display: block;
}

.containerContent {
    color: var(--color-text-planSubtitle);
    text-align: center;
    margin-bottom: 50px;
}

@media (max-width: 992px) {
    .decorationContainer>div:last-child {
        display: none;
    }
}

@media (max-width: 768px) {
    .title{
        font-size: 32px;
    }
}

@media (max-width: 576px) {
    .decoration{
        margin: 6px;
    }
    .step{
        width: 32px;
        height: 32px;
    }
    .decorationContainer>div:nth-child(2) {
        display: none;
    }
}
