.headerSpeakers{
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
}

.headerSpeakers div{
    text-align: center;
    font-size: 38.4px;
    margin-bottom: 20px;
    color: var(--color-text-title-conference);
    text-transform: uppercase;
    letter-spacing: 1.5px;   
}

.containerSpeakers {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
    flex-direction: column;
    padding: 60px 20px;
}

.gridSpeakers {
    max-width: 1200px;
    min-width: 280px;
    display: grid;
    grid-template-columns: repeat(3, minmax(320px, 1fr));
    grid-auto-rows: minmax(200px, 1fr);
    margin: auto;
    margin-top: 30px;
    gap: 20px;
    justify-items: center;
}

.speakerCard {
    width: 280px;
    height: 360px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.speakerBackground {
    opacity: .1;
    background: linear-gradient(#fff 0%, #ffffff80 30%, #0000 95%);
    width: 100%;
    height: 60%;
    display: block;
    position: absolute;
    bottom: 0;
    border-radius: 10px;
    transition: height .4s .2s;
}

.profileImage {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;
    transition: .5s .3s;
    mask-image: linear-gradient(#000 85%, #ffffff00 95%);
}

.profileImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    top: 0;
    transition: .5s;
    filter: brightness(.9);
}

.speakerCard:hover .speakerBackground {
    height: 100%;
    transition: height .4s;
}

.speakerCard:hover .profileImage {
    width: 100px;
    height: 100px;
    top: 24px;
    left: 10px;
    border-radius: 50%;
    transition: .5s;
    z-index: 3;
}

.speakerCard:hover .profileImage img {
    top: 0px;
    transition: .5s .5s;
}

.details {
    position: absolute;
    left: -2px;
    right: -2px;
    bottom: 4px;
    z-index: 2;
    top: 84%;
    background: var(--color-bg-card-speaker);
    color: var(--color-text-card-speaker-details);
    border-radius: 25px;
    overflow: hidden;
    transition: .3s .2s;
}

.speakerCard:hover .details {
    top: 5%;
    border-radius: 80px 30px 30px 30px;
    transition: .5s .2s;
}

.content {
    position: absolute;
    top: -300px;
    left: 20px;
    opacity: 0;
    transition: .5s;
}

.speakerCard:hover .content {
    top: 10px;
    right: 6px;
    opacity: 1;
    transition: opacity .5s .5s;
}

.content h2 {
    margin-left: 100px;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 30px;
}

.content .tag {
    margin-left: 100px;
    font-size: 0.7em;
    letter-spacing: 2px;
    color: var(--color-text-body);
}

.content .about {
    position: absolute;
    font-size: 0.8em;
    top: 120px;
}

.content .about img {
    width: 16px;
    height: 16px;
    margin-left: 4px;
    vertical-align: middle;
}

.buttons {
    position: absolute;
    top: 10px;
    bottom: 10px;
    width: 100%;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.speakerCard:hover .buttons {
    top: 84%;
}

.speakerCard:hover .buttons .speakerFlag {
    display: none;
}

.buttons .social {
    display: flex;
    gap: 15px;
}

.buttons .social a {
    fill: var(--color-text-card-speaker);
    cursor: pointer;
}

.buttons .social a:hover {
    fill: #277BC0;
    transition: all .4s;
}

.buttons .speakerFlag {
    margin-left: 4px;
}

.speakerName {
    color: var(--color-text-card-speaker);
    font-size: 0.9em;
    user-select: none;
    opacity: 1;
    transition: opacity .4s;
    margin-left: 10px;
}

.speakerFlag {
    width: 24px;
    height: 24px;
}

.speakerFlag img {
    width: 100%;
    height: 100%;
}

.speakerCard:hover .speakerName {
    opacity: 0;
}

.speakerCard:hover .link {
    right: 18px;
}

.buttons .link {
    text-decoration: none;
    color: var(--color-text-card-speaker);
    background: var(--color-text-header);
    padding: 7px 10px;
    border-radius: 20px;
    font-size: 0.9em;
    transition: all .4s;
    position: absolute;
    right: -500px;
    transition: all .4s;
}

.buttons .link:hover {
    background: #277BC0;
    color: var(--color-text-card-speaker);
    transition: background .4s;
}

.socialMail,
.socialLinkedin,
.socialGithub {
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 1.2rem;
    height: 20px;
    display: flex;
    position: relative;
    cursor: pointer;
    fill: var(--color-text-card-speaker);
}

@media only screen and (min-width: 1440px) {
    .gridSpeakers {
        max-width: 100%;
        grid-template-columns: repeat(3, minmax(320px, 1fr));
    }
}

@media only screen and (max-width: 1000px) {
    .gridSpeakers{
        grid-template-columns: repeat(2, minmax(320px, 1fr));
    }
}

@media only screen and (max-width: 660px) {
    .gridSpeakers{
        grid-template-columns: repeat(1, minmax(320px, 1fr));
    }
    .speakerCard:hover .buttons .speakerFlag {
        display: block;
    }
    .buttons .social {
        display: none;
    }
    .speakerCard:hover .speakerBackground{
        height: 60%;
    }
    .speakerCard:hover .profileImage {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1;
        overflow: hidden;
        border-radius: 0%;
        mask-image: linear-gradient(#000 85%, #ffffff00 95%);
    }
    .speakerCard:hover .details {
        position: absolute;
        left: -2px;
        right: -2px;
        bottom: 4px;
        z-index: 2;
        top: 84%;
        background: var(--color-bg-card-speaker);
        color: #fff;
        border-radius: 25px;
        overflow: hidden;
    }
    .speakerCard:hover .content {
        position: absolute;
        top: -280px;
        left: 20px;
        opacity: 0;
    }
    .speakerCard:hover .buttons {
        position: absolute;
        width: 100%;
        padding: 0 20px;
        top: 20%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
    } 
    .speakerCard:hover .speakerName {
        color: var(--color-text-card-speaker);
        font-size: 0.9em;
        user-select: none;
        opacity: 1;
    }

    .buttons .link {
        text-decoration: none;
        color: var(--color-text-card-speaker);
        background: var(--color-text-header);
        padding: 7px 10px;
        border-radius: 20px;
        font-size: 0.9em;
        position: absolute;
        right: 18px;
    }   
}