---
import { Image } from 'astro:assets'

interface Props {
    titleSpan: string
    titleStrong: string,
}
const {titleSpan, titleStrong}: Props = Astro.props
---

<article class="article_height px-6">
    <div class="relative w-full h-full overflow-hidden">
        <div class="absolute flex h-full slide-in-right">
            <div class="flex-1 flex gap-2 parent">
                <div class="flex-1 duration-300 hover:flex-[4] overflow-hidden">
                    <Image 
                        src="/editions-image/CIIS-XIV/ciis-xxiv-concurso-robotica.jpg" 
                        alt="xdxd" 
                        width={500} 
                        height={500}
                        class="object-cover w-full h-full aspect-square"
                    />
                </div>
                <div class="flex-1 duration-300 hover:flex-[4] overflow-hidden">
                    <Image 
                        src="/editions-image/CIIS-XIV/ciis-xxiv-concurso-robotica.jpg" 
                        alt="xdxd" 
                        width={500} 
                        height={500}
                        class="object-cover w-full h-full aspect-square"
                    />
                </div>
                <div class="flex-1 duration-300 hover:flex-[4] overflow-hidden">
                    <Image 
                        src="/editions-image/CIIS-XIV/ciis-xxiv-concurso-robotica.jpg" 
                        alt="xdxd" 
                        width={500} 
                        height={500}
                        class="object-cover w-full h-full aspect-square"
                    />
                </div>
                <div class="flex-1 duration-300 hover:flex-[4] overflow-hidden">
                    <Image 
                        src="/editions-image/CIIS-XIV/ciis-xxiv-concurso-robotica.jpg" 
                        alt="xdxd" 
                        width={500} 
                        height={500}
                        class="object-cover w-full h-full aspect-square"
                    />
                </div>
            </div>
            <div class="flex-1 grid place-content-center ">
                <h1 class="text-4xl font-bold text-center sm:text-6xl slide-top">
                    <span class="text-secondary">{titleSpan}</span>
                    <strong class="text-primary font-bold">{titleStrong}</strong>
                </h1>
            </div>
        </div>
    </div>
</article>

<style>
    .slide-in-right {
        animation: slide-in-right both;
        animation-timeline: view();
        animation-range-start: cover 10%;
        animation-range-end: contain 20%;
        animation-duration: 1.2s;
        animation-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940);
    }

    @keyframes slide-in-right {
    0% {
        transform: translateX(30%) scaleX(0.8); /* Desplazamiento ligero y escala */
        opacity: 0;
    }
    100% {
        transform: translateX(0) scaleX(1); /* Sin desplazamiento ni escala */
        opacity: 1;
    }
}



    

    .parent > div:first-child {
        border-top-left-radius: 36px;
        border-bottom-left-radius: 36px;
    }

    .parent > div:last-child {
        border-top-right-radius: 36px;
        border-bottom-right-radius: 36px;
    }


    .text-primary {
        background-image: var(--accent-gradient-primary);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 400%;
        background-position: 0%;
    }
    .text-secondary {
        background-image: var(--accent-gradient-secondary);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 400%;
        background-position: 0%;
    }

    .animation-focus {
        transition-property: transform;
        transform: scale(1);
        transition-duration: 0.6s;
        transition-timing-function:ease;
    }

    .animation-focus:hover {
        transform: scale(2);
    }

    .article_height {
        height: calc(100dvh / 2);
    }

</style>