---
import {FlagArgentina, FlagBolivia, FlagBrazil, FlagChile, FlagPeru, FlagSouthKorea} from '../../../../public/icons/flags/index.astro'

interface Props {
    props?: string
}

const {props}: Props = Astro.props

---

<div class={props}>
    <div class="flex flex-col justify-center items-center gap-y-2">
        <span class="italic text-slate-300">Bodas de <strong>Plata</strong></span>
        <div class="flex gap-4 justify-center">
            <FlagSouthKorea props='hover:scale-125 transition-transform'/>
            <FlagPeru props='hover:scale-125 transition-transform' />
            <FlagChile props='hover:scale-125 transition-transform' />
            <FlagBrazil props='hover:scale-125 transition-transform' />
            <FlagBolivia props='hover:scale-125 transition-transform' />
            <FlagArgentina props='hover:scale-125 transition-transform' />
        </div>
    </div>
</div>