---
import {FlagArgentina, FlagBolivia, FlagBrazil, FlagChile, FlagPeru, FlagSouthKorea, FlagCuba} from '../../../../public/icons/flags/index.astro'

interface Props {
    props?: string
}

const {props}: Props = Astro.props

---

<div class={`bounce-in-top ${props}`}>
    <div class="flex flex-col justify-center items-center gap-y-2">
        <span class="italic text-slate-300">Bodas de <strong>Plata</strong></span>
        <div class="flex gap-4 justify-center">
            <FlagSouthKorea props='hover:scale-125 transition-transform'/>
            <FlagPeru props='hover:scale-125 transition-transform' />
            <FlagChile props='hover:scale-125 transition-transform' />
            <FlagBrazil props='hover:scale-125 transition-transform' />
            <FlagBolivia props='hover:scale-125 transition-transform' />
            <FlagArgentina props='hover:scale-125 transition-transform' />
            <FlagCuba props='hover:scale-125 transition-transform' />
        </div>
    </div>
</div>

<style>
    .bounce-in-top {
	-webkit-animation: bounce-in-top 1.2s 1.6s both;
	animation: bounce-in-top 1.2s 1.6s both;
}

@-webkit-keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-40px);
            transform: translateY(-40px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-25px);
            transform: translateY(-25px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-14px);
            transform: translateY(-14px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

@keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-40px);
            transform: translateY(-40px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-25px);
            transform: translateY(-25px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-14px);
            transform: translateY(-14px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

</style>