---
import Counter from "./Counter/Counter"

export const prerender = false

const eventDate = '2024-11-11T13:30:00Z';
---

<div class="m-auto mt-36 h-dvh max-w-4xl">
    <h1 class="text-7xl text-center text-secondary">
        <strong class="text-primary font-bold">
            Congreso Internacional
        </strong>
        <p class="inline-block font-bold">
            en Informática y Sistemas
        </p>
        <strong class="text-primary font-bold">
            Edición XXV
        </strong>
    </h1>
    <div class="m-auto w-3/4 mt-16 shadow-lg conter-shadow">
        <Counter eventDate={eventDate} client:load/>
    </div>
</div>

<style>

    .text-primary {
        background-image: var(--accent-gradient-primary);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 400%;
        background-position: 0%;
    }

    .text-secondary {
        background-image: var(--accent-gradient-secondary);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 400%;
        background-position: 0%;
    }

</style>