---
import { Card } from "./components/Card";
import { topic } from "../topics/services/topics";
---

<section id="topics" class="px-4 pt-24">
  <section
    id="topics"
    class="pt-24 bg_button shadow_button rounded-[40px] max-w-screen-xl mx-auto px-4"
  >
    <h2 class="text-2xl font-bold text-center text-primary sm:text-6xl">
      Descubre las tendencias<span class="text-secondary">
        en la Informática y Sistemas</span
      >
    </h2>
    <button class="block mx-auto text-lg text-center text-white underline mt-4">
      ¡Solo necesitas inscribirte para participar!
    </button>
    <div
      class="relative grid grid-cols-1 mx-auto sm:grid-cols-2 lg:grid-cols-3 gap-7 my-11 max-w-screen-base"
    >
      {
        topic.map((item) => (
          <Card
            name={item.name}
            description={item.description}
            image1={item.image1}
            image2={item.image2}
          />
        ))
      }
    </div>
  </section>
</section>

<style>
  .text-primary {
    background-image: var(--accent-gradient-primary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .text-secondary {
    background-image: var(--accent-gradient-secondary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .bg_button {
    background-image: linear-gradient(180deg, #3152df95, #1e254595);
  }
  .shadow_button {
    box-shadow:
      inset 0 6px 12px #4c64d2,
      0 0 17px rgba(110, 137, 255, 0.77),
      inset 0 1px 10px hsla(0, 0%, 100%, 0.55);
  }
  .bg_primary {
    background-color: rgba(0, 153, 255, 0.3);
  }
  .border_primary {
    --tw-border-opacity: 1;
    border-color: rgb(0 153 255 / var(--tw-border-opacity));
  }
</style>
