---
import Card from "./components/Card.astro";
import { topic } from "../topics/services/topics";
---

<section id="topics" class="px-4 pt-24">
  <section
    id="topics"
    class="rounded-[40px] max-w-screen-xl mx-auto px-4"
  >
    <h2 class="text-4xl font-bold text-center text-primary sm:text-6xl slide-top">
      Descubre las tendencias<span class="text-secondary">
        en la Informática y Sistemas</span
      >
    </h2>
    <a href="#" class="cursor-pointer block mx-auto text-lg text-center text-white underline mt-4">
      ¡Solo necesitas inscribirte para participar!
    </a>
    <div
      class="relative grid grid-cols-1 mx-auto sm:grid-cols-2 lg:grid-cols-3 gap-7 my-11 max-w-screen-base"
    >
      {
        topic.map((item) => (
          <Card
            name={item.name}
            description={item.description}
            image1={item.image1}
            image2={item.image2}
          />
        ))
      }
    </div>
  </section>
</section>

<style>
  .text-primary {
    background-image: var(--accent-gradient-primary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .text-secondary {
    background-image: var(--accent-gradient-secondary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .bg_primary {
    background-color: rgba(0, 153, 255, 0.3);
  }
  .border_primary {
    --tw-border-opacity: 1;
    border-color: rgb(0 153 255 / var(--tw-border-opacity));
  }

  .slide-top {
    animation: slide-top both;
    animation-timeline: view();
    animation-range-start: cover 0%;
    animation-range-end: contain 40%;
    animation-duration: 0.5s;
    animation-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

  @keyframes slide-top {
    0% {
        -webkit-transform: translateY(-100px);
        transform: translateY(-100px);
        opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      opacity: 1;
    }
  }
</style>
