<section
  id="feria-tecnologica"
  class="pt-40 sm:pt-48 relative flex flex-col items-center justify-center w-full h-full gap-4 py-20 rounded-lg"
>
  <h2
    class="pb-16 text-4xl font-bold text-center text-secondary sm:text-6xl slide-top"
  >
    <span class="text-primary"> Feria Tecnológica</span>
  </h2>
  <div
    class="grid gap-4 md:flex md:flex-wrap md:justify-center md:grid-cols-2 lg:grid-cols-2"
  >
    <a
      class="animation-view py-5 transition-all duration-500 border-1 rounded-2xl group px-7 bg-[#3e5ba3] border-blue-400 cursor-pointer"
      href="/feria-tecnologica">
      Explora la Feria Tecnológica
    </a>
  </div>
</section>

<style>
  .text-primary {
    background-image: var(--accent-gradient-primary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .text-secondary {
    background-image: var(--accent-gradient-secondary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }

  .slide-top {
    animation: slide-top both;
    animation-timeline: view();
    animation-range-start: cover 0%;
    animation-range-end: contain 40%;
    animation-duration: 0.5s;
    animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }

  @keyframes slide-top {
    0% {
      -webkit-transform: translateY(-100px);
      transform: translateY(-100px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      opacity: 1;
    }
  }
</style>
