<div class="text-center w-full p-6 footer-text-color footer-border-color">
    @ 2024 CIIS por Círculo de Estudio de la ESIS
</div>


<style>
    .footer-text-color {
        color: var(--color-text-secondary-default);
    }
    .footer-border-color {
        border-top: 1px solid var(--color-border-primary-default);
        --tw-border-opacity: 1;
    }
    .footer-border-color:hover {
        border-color: var(--color-border-primary-hover);
    }
    .footer-border-color:active {
        border-color: var(--color-border-primary-active);
    }
</style>
