<div class="fixed top-0 left-0 right-0 backdrop-blur-[10px] md:backdrop-blur-0 w-full mb-10 overflow-hidden z-[99999] py-8">
    Aqui va el navbar de nuestro compoentneaAqui va el navbar de nuestro compoentneaAqui va el navbar de nuestro compoentneaAqui va el navbar de nuestro compoentneaAqui va el navbar de nuestro compoentneaAqui va el navbar de nuestro compoentneaAqui va el navbar de nuestro compoentnea
</div>|