---
import Counter from "./components/Counter/Counter";
import PortadaPrincipal from "./components/PortadaPrincipal.astro";
const eventDate = '2024-11-11T13:30:00Z';
---

<div id="main" class="m-auto max-w-5xl">
    <PortadaPrincipal />
    <!-- <div class="block absolute right-2 bottom-0">
        <Counter eventDate={eventDate} client:load/>
    </div> -->
</div>