---
import Counter from "./components/Counter/Counter";
import PortadaPrincipal from "./components/PortadaPrincipal.astro";
const eventDate = '2024-11-11T13:30:00Z';
---

<div id="main">
    <video autoplay muted loop id="myVideo" class="opacity-40 absolute top-0 w-full bg-cover blur-sm">
        <source src="video.mp4" type="video/mp4">
    </video>
    <PortadaPrincipal />
</div>
