---
import CardWorkshop from "./components/CardWorkshop";
import WorkshopMainContainer from "./components/WorkshopMainContainer.astro";
import useWorkshops from "./services/useWorkshops";
import type Workshop from "./adapters/workshopAdapter";
import { format } from "date-fns";

const workshops: Workshop[] | undefined = await useWorkshops();
---

<section class="space-y-24 mb-24">
  <WorkshopMainContainer />
  <div class="p-2 sm:p-4 min-h-dvh w-full bg-slate-950">
    <div class="font-bold mt-8 text-left select-none flex flex-col gap-y-1">
      <p class="text-4xl tracking-wider text-center opacity-80">
        ¡Únete a nuestros Talleres!
      </p>
    </div>
    <div class="mt-8 flex flex-col gap-y-8 items-center">
      {
        workshops &&
          workshops.map((workshop) => (
            <CardWorkshop
              title={workshop.name}
              date={`${format(new Date(workshop.start), "dd/MM/yyyy hh:mm")} - ${format(new Date(workshop.end), "dd/MM/yyyy hh:mm")}`}
              location={workshop.place}
              price={workshop.price}
              src_speaker={`https://ciistacna.com/${workshop.speaker.dir_img_speaker}`}
              src_workshop="https://i.imgur.com/89Wsfpc.jpeg"
            />
          ))
      }
    </div>
  </div>
</section>
